<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" asp-controller="home" asp-action="index" asp-area="backend">
            <i class="fas fa-fw fa-deskpro"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="article" asp-action="index" asp-area="backend">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Article</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="user" asp-action="index" asp-area="backend">
            <i class="fas fa-fw fa-users-cog"></i>
            <span>User</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="report" asp-action="index" asp-area="backend">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Report</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="setting" asp-action="index" asp-area="backend">
            <i class="fas fa-fw fa-users-cog"></i>
            <span>Setting</span>
        </a>
    </li>
</ul>