@model DMSC.Assessment.Data.Model.Chart

<div class="container-fluid">
       
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Article Likes Chart
        </div>
        <div class="card-body">
            <canvas id="ArticleLikesChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">.</div>
    </div>

    <div class="card mb-3">

    </div>
</div>

@section scripts{      

    <script type="text/javascript">
     _chart(@Html.Raw(Json.Serialize(Model.Title)),'@Html.Raw(Json.Serialize(Model.Likes))');
    </script>

}
