@model DMSC.Assessment.Data.Model.Chart

<div class="container-fluid">
  
    <div class="row">
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">26 Articles!</div>
                </div>               
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5">11 Likes!</div>
                </div>               
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5">123 New Orders!</div>
                </div>                
            </div>
        </div>       
    </div>

  
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Article Likes Chart
        </div>
        <div class="card-body">
            <canvas id="ArticleLikesChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">.</div>
    </div>

    <div class="card mb-3">

    </div>
</div>

@section scripts{      

    <script type="text/javascript">
     _chart(@Html.Raw(Json.Serialize(Model.Title)),'@Html.Raw(Json.Serialize(Model.Likes))');
    </script>

}
